@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

/* VUE.JS */
[v-cloak] {
    display: none;
}

.jameson-container {
    @media (min-width: 1200px) {
        max-width: 1600px !important; // @here
    }
}

.percentage-unknown {
    color: #b3b3b3;
}

.percentage-awesome {
    color: #cce780;
    font-weight: bold;
}

.percentage-good {
    color: #cce780;
    font-weight: bold;
}

.percentage-bad {
    color: #e3c534;
    font-weight: bold;
}

.percentage-awful {
    color: #c74e4e;
    font-weight: bold;
}

.router-link {
    padding: 0.2rem 0.5rem;
}

.router-link-active,
.router-link-active:hover {
    color: white;
    background-color: #007bff;
}